<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--Requires an installation of SQL Express-->
    <add connectionString="Server=localhost\SQLEXPRESS;Database=subget;Trusted_Connection=True;" name="connectionString"/>
  </connectionStrings>
  <appSettings>
    <add key="CultureString" value="de-AT"/>
    <add key="Disney+" value="https://www.disneyplus.com/account/subscription"/>
    <add key="Netflix" value="https://www.netflix.com/YourAccount"/>
    <add key="Namecheap" value="https://ap.www.namecheap.com/Profile/Billing"/>
    <add key="Google Drive" value="https://myaccount.google.com/subscriptions"/>
    <add key="iCloud" value="https://support.apple.com/billing"/>
    <add key="Apple Music" value="https://support.apple.com/billing"/>
  </appSettings>
</configuration>